name: Release

on:
    push:
        tags:
            - "v*"

permissions:
    contents: write

jobs:
    release:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Setup Go
              uses: actions/setup-go@v5
              with:
                  go-version-file: go.mod
                  cache: true

            - name: Build
              env:
                  CGO_ENABLED: 0
                  GOOS: darwin
                  GOARCH: arm64
              run: |
                  VERSION="${GITHUB_REF##*/}"
                  ARCHIVE="envcmd_${VERSION}_darwin_arm64"

                  go build -ldflags="-s -w -X main.version=${VERSION}" -o envcmd

                  mkdir -p dist && tar -czf "dist/${ARCHIVE}.tar.gz" envcmd
                  echo "ARCHIVE=${ARCHIVE}.tar.gz" >> $GITHUB_ENV

            - name: Generate Checksum
              run: |
                  FILE="dist/${ARCHIVE}"
                  echo "[CHECKSUM]" && shasum -a 256 "$FILE"

            - name: Create Release
              uses: softprops/action-gh-release@v2
              with:
                  files: |
                      dist/*.tar.gz
